name: Release
on:
  push:
    tags: ['v*']
jobs:
  build:
    permissions:
      contents: read
    strategy:
      matrix:
        # Same as smoke.yml
        include:
          - os: ubuntu-latest
            arch: x64
            build-group: linux-x64
            cmd: prebuildify-cross -i almalinux-devtoolset11 -i alpine --napi --strip
          # - os: ubuntu-latest
          #   arch: x64
          #   build-group: linux-arm
          #   cmd: prebuildify-cross -i linux-arm64-lts --napi --strip
          - os: macos-latest
            arch: x64
            build-group: darwin-x64+arm64
            cmd: prebuildify --napi --strip --arch x64+arm64
          - os: windows-latest
            arch: x64
            build-group: win32-x64
            cmd: prebuildify --napi --strip
          - os: windows-latest
            arch: x64
            build-group: win32-arm64
            cmd: prebuildify --napi --strip --arch arm64
    runs-on: ${{ matrix.os }}
    name: Build ${{ matrix.build-group }}
    env:
      BUILD_GROUP: ${{ matrix.build-group }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Set up node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          architecture: ${{ matrix.arch }}
      - name: Install
        run: npm install --ignore-scripts
      - name: Prebuild
        run: npx --no-install ${{ matrix.cmd }}
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: ${{ env.BUILD_GROUP }}
          path: prebuilds
          if-no-files-found: error
          retention-days: 1
  release:
    needs: build
    permissions:
      contents: write
      # https://docs.npmjs.com/trusted-publishers
      id-token: write
    runs-on: ubuntu-latest
    name: Release
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          path: prebuilds
          merge-multiple: true
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Publish
        run: npm publish
      - name: Create GitHub release
        uses: docker://antonyurchenko/git-release:v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
