name: Smoke
on: workflow_dispatch
concurrency:
  group: smoke
  cancel-in-progress: true
jobs:
  build:
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        # Same as release.yml
        include:
          - os: ubuntu-latest
            arch: x64
            build-group: linux-x64
            cmd: prebuildify-cross -i almalinux-devtoolset11 -i alpine --napi --strip
            test: true
          # Fails with "unrecognized command line option '-std=gnu++20'; did you mean '-std=gnu++2a'"
          # - os: ubuntu-latest
          #   arch: x64
          #   build-group: linux-arm
          #   cmd: prebuildify-cross -i linux-arm64-lts --napi --strip
          #   test: false
          - os: macos-latest
            arch: x64
            build-group: darwin-x64+arm64
            cmd: prebuildify --napi --strip --arch x64+arm64
            test: true
          - os: windows-latest
            arch: x64
            build-group: win32-x64
            cmd: prebuildify --napi --strip
            test: true
          - os: windows-latest
            arch: x64
            build-group: win32-arm64
            cmd: prebuildify --napi --strip --arch arm64
            test: false
    runs-on: ${{ matrix.os }}
    name: Build ${{ matrix.build-group }}
    env:
      BUILD_GROUP: ${{ matrix.build-group }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Set up node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          architecture: ${{ matrix.arch }}
      - name: Install
        run: npm install --ignore-scripts
      - name: Prebuild
        run: npx --no-install ${{ matrix.cmd }}
      - name: Test
        run: npm run test-prebuild
        if: matrix.test
      - name: Prepare artifact
        run: tar -zcvf $BUILD_GROUP.tar.gz -C prebuilds .
        shell: bash
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.BUILD_GROUP }}
          path: ${{ env.BUILD_GROUP }}.tar.gz
          retention-days: 1
